html, body{
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}
.titulo{
    text-align: center;
    background-color:black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.carta{
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
    box-shadow: 10px 10px 5px #000;
}

#jugador-cartas, #cpu-cartas{
    height: 240px;
}